<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shaurydeep Saxena</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
<!--  <link href="assets/img/favicon.png" rel="icon">-->
  <link href="{{url_for('static',filename='assets/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{{url_for('static',filename='assets/img/dp2.jpg')}}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">{{params['name']}}</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://unipy.blogspot.com/" class="google-plus" target="_blank"><i class="bi bi-code-slash"></i></a>
          <a href="https://github.com/shaury-96" class="google-plus" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/shaurydeep-saxena-5a95a71b9/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#facts" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Coding Profiles and Skills</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
          <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Certificates</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{params['name']}}</h1>
      <p>I'm <span class="typed" data-typed-items="Programmer, Developer, Problem Solver, AI Enthusiast"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
              <p>{{params['about']}}</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{{url_for('static',filename='assets/img/dp2.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{{params['about_head']}}</h3>
            <p class="fst-italic">
              {{params['about2']}}
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{params['birthday']}}</span></li>
<!--                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>-->
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{params['phone']}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{params['city']}}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
<!--                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>-->
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{params['degree']}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{params['email']}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Current Role:</strong> <span>{{params['role']}}</span></li>
                </ul>
              </div>
            </div>
            <p>{{params['about3']}}</p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Coding Profiles</h2>
          <p> {{params["facts"]}}</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
                {% set fname = 'assets/img/'+  params['leet_image']  %}
              <a href="https://leetcode.com/sds96/" target="_blank">
                <img src="{{url_for('static', filename=fname)}}" alt="" width="72" height="72">
                </a>
              <span data-purecounter-start="0" data-purecounter-end={{leetc}} data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Questions solved on Leetcode</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
                  {% set fname = 'assets/img/'+  params['gfg_image']  %}
              <a href="https://auth.geeksforgeeks.org/user/shaurydeepsaxena" target="_blank">
                  <img src="{{url_for('static', filename=fname)}}" alt="" width="72" height="72">
              </a>
              <span data-purecounter-start="0" data-purecounter-end={{gfgc}} data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Questions solved on GeeksforGeeks</strong> </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">

              {% set fname = 'assets/img/'+  params['hrank_image']  %}
              <a href="https://www.hackerrank.com/shaurydeepsaxena" target="_blank">
              <img src="{{url_for('static', filename=fname)}}" alt="" width="72" height="72">
              </a>

              {% set fname = 'assets/img/'+ params['star_img']  %}
                <span>
                {% for i in range(hrank)%}
                    <img src="{{url_for('static', filename=fname)}}" alt="" width="30" height="30">
                {%endfor%}
                </span>

              <p><strong>Star Rated in Problem Solving on HackerRank</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              {% set fname = 'assets/img/'+  params['codechef_image']  %}
              <a href="https://www.codechef.com/users/sds96" target="_blank">
              <img src="{{url_for('static', filename=fname)}}" alt="" width="72" height="72">
              </a>
              <span data-purecounter-start="0" data-purecounter-end={{codechef}} data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Codechef Rating</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

<!--        <div class="row skills-content">-->

<!--          <div class="col-lg-6" data-aos="fade-up">-->

<!--            <div class="progress">-->
<!--              <span class="skill">HTML <i class="val">100%</i></span>-->
<!--              <div class="progress-bar-wrap">-->
<!--                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->

         <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Languages:</strong> <span> Python, C++</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Developer Tools:</strong> <span>VS Code, PyCharm, Anaconda, Github, Xampp</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Frameworks:</strong> <span>Flask</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Cloud/Databases:</strong> <span>MySQL</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Soft Skills:</strong> <span>Problem Solving, Communication, Teamwork</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Coursework:</strong> <span>Data Structure and Algorithms, DBMS, Operating System</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Other Technologies:</strong> <span>Machine Learning, Computer Vision</span></li>
                </ul>
              </div>
            </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>{{params["resume_head"]}}</p>
        </div>


      <div class="text-center">
        <button type="button" class="btn btn-dark btn-lg" >
        <a href="{{ url_for('static', filename='files/resume.pdf') }}" download>Download Resume</a>
        </button>
        </div>
      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Projects</h2>
        </div>


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
                <figure>
              <img src="{{url_for('static',filename='assets/img/portfolio/p1.jpg')}}" class="img-fluid" alt="">
                <figcaption><strong>The Murdock Device</strong></figcaption>
                    </figure>
              <div class="portfolio-links">
                <a href="static/assets/img/portfolio/p1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Murdock device"><i class="bx bx-plus"></i></a>
                <a href="https://drive.google.com/file/d/1TykqWv-h5JB0sDKcWFx4PqI7jxz0IaKy/view?usp=share_link" title="More Details" target="_blank"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Certificates</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>

                  <img src="{{url_for('static',filename='assets/img/i1.jpg')}}" width="300" height="200">
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>AI Internship</h3>
                <h4>Pantech Prolabs India Ltd.</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <img src="{{url_for('static',filename='assets/img/i2.jpg')}}" width="300" height="200">
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Python Programming</h3>
                <h4>Udemy</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <img src="{{url_for('static',filename='assets/img/i4.jpg')}}" width="300" height="200">
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Hackathon</h3>
                <h4>GDSC</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <img src="{{url_for('static',filename='assets/img/i5.jpg')}}" width="300" height="200">
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Arduino Certification</h3>
                <h4>Pantech Prolabs India Ltd.</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <img src="{{url_for('static',filename='assets/img/i6.jpg')}}" width="300" height="200">
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>Google Cloud Program</h3>
                <h4>GDSC</h4>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Kashipur, Uttarakhand, India</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>shaurydeepsaxena@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9639538459</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d27859.062216475766!2d78.9363233!3d29.2122935!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390a43c0c5694dd1%3A0xe193d5f15c9333a0!2sKashipur%2C%20Uttarakhand%20244713!5e0!3m2!1sen!2sin!4v1683381289927!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="static/forms/contact.php" method="post" role="form" class="php-email-form">
<!--                <form data-sb-form-api-token="API_TOKEN" role="form" class="php-email-form" name="sentMessage" action="/contact" method="post">-->
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
<!--        &copy; Copyright <strong><span>iPortfolio</span></strong>-->
      </div>
      <div class="credits">

        Never give up!
<!--        <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src=""></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>

  <script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/typed.js/typed.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>

</html>